<html>
  <head>
    <title>Urls</title>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <th>
            Longest Response Time
          </th>
          <td>
            <%= longest_response_time %>
          </td>
        </tr>
        <tr>
          <th>
            Shortest Response Time
          </th>
          <td>
            <%= shortest_response_time %>
          </td>
        </tr>
        <tr>
          <th>
            Average Response Time
          </th>
          <td>
            <%= average_response_time %>
          </td>
        </tr>
        <tr>
          <th>
            Which HTTP Verbs Have Been Used
          </th>
          <td>
            <%= http_verbs %>
          </td>
        </tr>
        <tr>
          <th>
            Most Popular Referrrers
          </th>
          <td>
            <%= popular_referrers %>
          </td>
        </tr>
        <tr>
          <th>
            Most popular user agents
          </th>
          <td>
            <%= popular_user_agents %>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
